/* DEX.module.css */
.dexContainer {
  text-align: center;
}

.dexHeading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff; /* White text for headings */
}

.chartSwapperContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 1;
}

.poolTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px; /* Add rounded corners */
  overflow: hidden; /* Ensure the rounded corners are visible */
  background-color: #66974C; /* Dark background for the table */
  color: #fff; /* White text for table content */
  margin-bottom: 20px; /* Space below the table */
}

.poolTable th, .poolTable td {
  padding: 15px;
  background-color: rgba(51, 51, 51, 0.3); /* Darker background with 50% opacity */

}


.poolTable tfoot td {
  font-size: 1.2rem; /* Larger font size for totals */
  color: #66974C; /* White color for text */
  background-color: rgba(51, 51, 51, 0.9); /* Darker background with 50% opacity */
}


/* Styling for the pool links */
.poolTable a {
  color: #000; /* Default link color */
  text-decoration: none; /* Remove underline */
}

.poolTable a:hover {
  color: #fff; /* Green color on hover */
  text-decoration: underline; /* Add underline on hover */
}

/* Highlight changes in totals */
@keyframes highlightChange {
  0% { color: red; }
  100% { color: #4CAF50; }
}

.highlightChange {
  animation: highlightChange 2s; /* Animate the color change */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .chartSwapperContainer {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .poolTable th, .poolTable td {
      padding: 10px;
  }

  .poolTable tfoot td {
      font-size: 1rem;
  }
}
