.howToBuyContainer {
    padding: 20px;
    background: linear-gradient(135deg, var(--color-pepe-dark), var(--color-pepe)); /* Gradient background */
    border-radius: 8px;
}

.buySteps {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items */
    gap: 20px; /* Space between items */
    justify-content: center; /* Center items horizontally */
}

.buyStep {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within each step */
    text-align: center; /* Center text */
    border-radius: 4px; /* Rounded corners */
    padding: 20px; /* Padding inside each step */
    width: 100%; /* Full width on small screens */
    max-width: 300px; /* Max width for larger screens */
}

.imageRow {
    display: flex;
    gap: 10px; /* Space between images */
    margin-bottom: 10px; /* Space between images and text */
    justify-content: center; /* Center images horizontally */
}

.imageContainer {
    background-color: #d0d0d0; /* Grey background for image container */
    padding: 15px; /* Increased padding */
    border-radius: 4px;
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center; /* Center image horizontally */
}

.stepImage {
    border-radius: 4px; /* Rounded corners */
    width: 70px; /* Larger width for larger images */
    height: 70px; /* Larger height for larger images */
}

/* Adjust image size and spacing on larger screens */
@media (min-width: 768px) {
    .buySteps {
        flex-direction: row; /* Align items horizontally on larger screens */
        justify-content: space-around; /* Distribute space evenly */
    }

    .imageRow {
        gap: 5px; /* Reduced space between images */
    }

    .stepImage {
        width: 90px; /* Larger width for larger screens */
        height: 90px; /* Larger height for larger screens */
    }
}

