/* NFTCollection.module.css */

.wrapper {
    display: flex;
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center-align children horizontally */
    justify-content: center; /* Center-align children vertically */
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('/nft_bg.jpg');    background-size: cover; /* Ensure it covers the entire element */
    background-position: center; /* Center the background image */
  }

  .titleSection {
    width: 100%; /* Full width to center the title */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the title and subtitle */
    justify-content: center; /* Vertically center the title and subtitle */
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .nftGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .content {
    flex: 1 1 25%; /* Adjust flex-basis to control initial width */
    max-width: 25%; /* Limit the maximum width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    background-color: #1a1a1a; /* Dark background for contrast */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .imageContainer {
    width: 100%; /* Responsive width */
    padding-top: 100%; /* Aspect ratio */
    position: relative;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .image:hover {
    transform: scale(1.1);
  }
  
  .nftTitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .moreComingSoon {
    width: 100%; /* Full width to center the text */
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Assuming white text color */
    margin-top: 30px;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1200px) {
    .content {
      flex-basis: 30%;
      max-width: 30%;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      flex-basis: 45%;
      max-width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .content {
      flex-basis: 100%;
      max-width: 100%;
    }
  }