.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding around the entire container */
}

.row {
    display: flex;
    gap: 20px; /* Space between icons */
    padding: 20px; /* Add padding above and below each row */
}

.logoImage {
    border-radius: 15%;
    padding: 4px; /* Add padding around each logo image */
}

.logoImage:hover {
    background-color: rgba(0, 0, 0, 0.15); /* Black background with 60% opacity */

}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-wrap: wrap; /* Allows wrapping on smaller screens */
        justify-content: center; /* Center items horizontally */
    }
}
